@charset "UTF-8";
/* CSS Document */


* {
	padding:0; margin:0;
	}

html, body {
	    margin: 0;
	    height:100%;
	    width:100%;
	    padding:0;
	}
section {
	    display: block;
	    height:100%;
	    width:100%;
	}

#one{
	}

#two{
		padding-top:100px;
		padding-bottom: 100px;
		height: auto;
	}

#three{
	padding-top:150px;
	padding-bottom: 200px;
	height: auto;
	}

nav {
	    position: fixed;
			z-index: 200;
	}

nav a {
	    display: block;
	    font-size: 12px;
	    color: #FFF;
	    text-align: center;
	    background: #000;
	    padding: 10px;
	    margin: 3px;
	}

	h1 {
			padding-top: 20px;
			font-size:13px;
			text-decoration:none;
			font-weight: lighter;
			color:#000;
			font-family: Verdana, Arial, Helvetica, sans-serif;
			letter-spacing:0.025em;
			text-transform:uppercase;
			letter-spacing:0.05em;}

	h2 {
			padding-top: 5px;
			padding-bottom: 20px;
			font-size:13px;
			text-decoration:none;
			font-weight:100;
			line-height: 2em;
			color:rgb(100,100,100);
			font-family: Verdana, Arial, Helvetica, sans-serif;
			letter-spacing:0.02em;
			-webkit-transition: all 200ms ease-out;
			-moz-transition: all 200ms ease-out;
			-ms-transform: all 200ms ease-out;
			-o-transform: all 200ms ease-out;
		}

	h3 {
			font-size:14px;
			text-decoration:none;
			font-weight:100;
			line-height: 3em;
			color:rgb(255,255,255);
			font-family: Verdana, Arial, Helvetica, sans-serif;
			letter-spacing:0.01em;
			text-align:left;
			text-transform:uppercase;}

	h4 {
			font-size:14px;
			text-decoration:none;
			font-weight:100;
			line-height: 1.5em;
			color:rgb(255,255,255);
			font-family: Verdana, Arial, Helvetica, sans-serif;
			letter-spacing:0.01em;
			text-align:left;
			-webkit-transition: all 300ms ease-out;
			-moz-transition: all 300ms ease-out;
			-ms-transform: all 300ms ease-out;
			-o-transform: all 300ms ease-out;}

header {
		width: 100%;
		height:100px;
		position:fixed;
		z-index:100;}

.logo {
		text-align:center;
		position:relative;
		margin-top:30px;}

.logo img {
		width: 150px;
		height:auto;}

#pfeil3{
		background:rgba(0, 0, 0, 0.9);
		background-image:url(../images/allgemein/pfeil_oben_weiss.png);
		background-repeat:no-repeat;
		background-position: 50% 50%;
		height:50px;
		width:50px;
		z-index:75;
		position:fixed;
		right:45px;
		bottom:100px;
		display:none;}

#pfeil3:hover{
		background-image:url(../images/allgemein/pfeil_oben_grau.png);}

.inhalt {
	max-width:1300px;
	text-align: center;
}

.box{
	display:inline-block;
	width:320px;
	margin: 0px 15px 40px 15px;
	padding-bottom: 35px;
}

.bild{
		width: 320px;
		height: 320px;
		display: inline-block;
}


.box:hover hr{
		width: 320px;
		}

.info{
		width:320px;
}


hr{
	margin: auto;
	color:;
	background-color:rgba(135, 187, 230, 1);
	border: none;
	height:2px;
	width: 60px;
	margin-top: 15px;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-ms-transform: all 300ms ease-out;
	-o-transform: all 300ms ease-out;
}

.about{
	max-width:1070px;
	margin: auto;
	}

.about p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 20px;
	line-height: 30px;
	padding-left: 30px;
	padding-right: 30px;
}

footer {
		width:100%;
		height:auto;
		text-align:center;
		padding-bottom:30px;
		background-color:rgba(10, 10, 10, 0.9);}



.footer{
		max-width:1070px;
		height:auto;
		padding-left: 30px;
		padding-right: 30px;
		margin: auto}

.footer1 a{
		text-decoration:none;}

.footer1 h5:hover{
		color:rgb(170,170,170)}

#footer2 {
		margin-top:9px;}

#footer3{
		height:auto;
		padding: 50px 30px 0px 0px;
		text-align:right;
		text-decoration:none;
		color:#CCC;
		font-size:12px;
		font-weight:100;
		font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
		letter-spacing:0.025em;}
