@charset "UTF-8";
/* CSS Document */


* {
	padding:0; margin:0;
}

html, body {
	margin: 0;
	height:100%;
	width:100%;
	padding:0;
}

nav {
	position: fixed;
	z-index: 200;
	top: 25%;
	width:80px;
}

nav a {
	padding-left: 20px;
	padding-right: 20px;
	text-decoration: none;
}

nav hr{
	background-color:rgba(135, 187, 230, 1);
	border: none;
	height:2px;
	width: 15px;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-ms-transform: all 300ms ease-out;
	-o-transform: all 300ms ease-out;
}

nav a:hover hr{
	width: 70px;
}

nav p{
	font-family: 'Open Sans', sans-serif;
	color:rgb(0,0,0);
	font-weight: 300;
	font-size: 12px;
	padding-left: 10px;
	padding-bottom: 5px;
	text-transform: uppercase;
	margin-top: 30px;
}

header {
	width: 100%;
	height:100px;
	position:fixed;
	z-index:100;
}

.logo {
	text-align:center;
	position:relative;
	margin-top:30px;
}

.logo img {
	width: 150px;
	height:auto;
}

#pfeiloben{
	background-repeat:no-repeat;
	background-position: 50% 50%;
	height:30px;
	width:30px;
	z-index:75;
	position:fixed;
	right:45px;
	bottom:45px;
}

#pfeiloben:hover hr{
	width: 30px;
}

.pfeil{
	color:rgb(0,0,0);
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

.pfeil hr{
	margin: auto;
	background-color:rgba(135, 187, 230, 1);
	border: none;
	height:2px;
	width: 15px;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-ms-transform: all 300ms ease-out;
	-o-transform: all 300ms ease-out;
}

h1{
	color:rgb(0,0,0);
	font-weight:lighter;
	font-size: 40px;
	line-height: 55px;
	padding: 50px 130px 100px 130px;
	letter-spacing:0.01em;
	font-family: 'Open Sans', sans-serif;
	text-align:center;
}

.inhalt {
	width: 100%;
}

.startbild img{
	width:100%;
	height:100% auto;
}

.text{
	width: 100% auto;
	max-width: 1200px;
	height: auto;
	margin:auto;
}

.video{
	text-align: center;
}

.bild1{
	width: 100%;
	text-align:center;
	margin-top: 15px;}

.bild1 img{
	width:90%;
	height:90% auto;
	max-width:1200px;}

.bild2{
	width: 100%;
	text-align:center;}

.bild2 img{
	width:100%;
	height:100% auto;
	max-width:1200px;}

footer {
	width:100%;
	height:100px;
	text-align:center;
	padding-top: 20px;
	background-color:rgba(0, 0, 0, 1);
}

.copyright{
	margin: auto;
	height:auto;
	color:rgb(255,255,255);
	font-size:11px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	text-transform:uppercase;
	letter-spacing:0.1em;
	line-height: 3em;
}

.copyright a{
	text-decoration: none;
	color:white;
}

.copyright hr{
	margin: auto;
	background-color:rgba(135, 187, 230, 1);
	border: none;
	height:2px;
	width: 40px;
	margin-bottom: 5px;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-ms-transform: all 300ms ease-out;
	-o-transform: all 300ms ease-out;
}

.copyright a:hover hr{
	width: 90px;
}
