@charset "UTF-8";
/* CSS Document */


* {
	padding:0; margin:0;
}

html, body {
	margin: 0;
	height:100%;
	width:100%;
	padding:0;
}

header {
	width: 100%;
	position:fixed;
}

.logo {
	text-align:center;
	position:relative;
	margin-top:30px;
}

.logo img {
	width: 150px;
	height:auto;
}

nav {
	position: fixed;
	z-index: 200;
	top: 25%;
}

nav li{
	margin-top:50px;
}

nav a {
	padding-left: 10px;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	color:rgb(0,0,0);
	font-weight: 400;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing:0.04em;
}

nav hr{
	background-color:rgba(135, 187, 230, 1);
	border: none;
	height:2px;
	width: 0px;
	margin-top: 5px;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-ms-transform: all 300ms ease-out;
	-o-transform: all 300ms ease-out;
}

nav a:hover hr{
	width:75px;
}

h1{
	color:rgb(0,0,0);
	font-weight:lighter;
	font-size: 40px;
	line-height: 55px;
	padding: 50px 130px 60px 130px;
	letter-spacing:0.01em;
	font-family: 'Open Sans', sans-serif;
	text-align:center;
}

.inhalt {
	width: 100%;
}

.startbild img{
	width:100%;
	height:100% auto;
}

.text{
	width: 100% auto;
	max-width: 1200px;
	margin:auto;
}

.video{
	text-align: center;
	padding-left: 100px;
	padding-right: 100px;
	margin-bottom:100px;
}

video{
	max-width:800px;
	width:100%;
}

.bild1{
	max-width: 1300px;
	padding: 0px 100px 0px 100px;
	text-align:center;
	margin-bottom: 5%;
}

.bild1 img{
	width:90%;
	height:90% auto;}

.bild2{
	max-width: 1300px;
	padding: 0px 100px 0px 100px;
	text-align:center;
	margin-bottom: 10px;
}

.bild2 img{
	width:90%;
	height:90% auto;
}

.pfeile{
	text-align: center;
	width: 100%;
	margin-bottom: 30px;
}

.pfeile li{
	display: inline-block;
	margin: 20px;
	width:50px;
}

.pfeile a{
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	color:rgb(0,0,0);
	font-weight: 300;
	font-size: 25px;
	text-transform: uppercase;
}

.pfeile hr{
	background-color:rgba(135, 187, 230, 1);
	border: none;
	height:2px;
	width: 0px;
	margin: auto;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-ms-transform: all 300ms ease-out;
	-o-transform: all 300ms ease-out;
}

.pfeile a:hover hr{
	width: 40px;
}

footer {
	width:100%;
	height:100px;
	text-align:center;
	padding-top: 20px;
	background-color:rgba(0, 0, 0, 1);
}

.copyright{
	margin: auto;
	height:auto;
	color:rgb(255,255,255);
	font-size:11px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	text-transform:uppercase;
	letter-spacing:0.1em;
	line-height: 3em;
}

.copyright a{
	text-decoration: none;
	color:white;
}

.copyright hr{
	margin: auto;
	background-color:rgba(135, 187, 230, 1);
	border: none;
	height:2px;
	width: 0px;
	margin-bottom: 5px;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-ms-transform: all 300ms ease-out;
	-o-transform: all 300ms ease-out;
}

.copyright a:hover hr{
	width: 90px;
}
