@charset "UTF-8";
/* CSS Document */


* {
	padding:0; margin:0;}


body {
	}
		
#website {
		background-color:#CF3;
		margin:auto;
		width: 100%;
		float:left;}
		
		
header {
		background-color:#C3C;
		width: 100%;
		height:180px;}
	
		
#logo {
		height: 50px;
		text-align:center;
		position:relative;
		padding-top:50px;}


#logo img {
		width: 160px;
		height:auto;}	
	
	
	
#nav {
		width:120px;
		margin:auto;
		height: 50px;
		font-family:Arial, Helvetica, sans-serif;}
		
		
#nav a{
		text-decoration:none;
		color:#000;
		font-size:15px;}
				
		
#Info{
		margin-top: 10px;
		float:left;
		margin-right:40px;
		width:5%;}
		
		
#Impressum {	
		margin-top: 10px;
		float:left;
		width:7%;}
	
	


#arbeiten {
		background-color:#09F;
		float: left;
		position:relative;}
		
		


		
.bilder {
		background-color:#C30;
		margin:10px;
		float: left;
		position:relative;}


		
