@charset "UTF-8";
/* CSS Document */


* {
	padding:0; margin:0;}


body {
	}
		
#website {
		margin:auto;
		width: 100%;
		float:left;}
		
		
header {
		width: 100%;
		height:130px;
		background-color:rgba(255, 255, 255, 0.9);
		position:fixed;
		z-index:100;}
	
		
#logo {
		height: 50px;
		text-align:center;
		position:relative;
		margin-top:40px;}


#logo img {
		width: 180px;
		height:auto;}	
	
	
	


#Inhalt {
		width: 100%;
		margin-top: 130px;}


#Überschrift{
		margin: auto;
		width:100%;
		text-align:center;
		font-family:Tahoma, Geneva, sans-serif;
		letter-spacing:0.025;}

h1{	
		font-weight:100;
		font-size: 30px;
		padding-top:30px;}

h2{		color:#777;
		font-weight:100;
		font-size:20px;
		line-height:2em;}
				
#Einleitung{
		width:100%;
		text-align:center;}
		
#Einleitung img{
		width:100%;
		height:100% auto;
		max-width:1200px;}
		
		
#Text {
		width:90%;
		max-width:600px;
		margin:auto;
		padding-top: 30px;
		font-family:Tahoma, Geneva, sans-serif;
		font-size:16px;
		line-height:1.3em;
		text-align:center;}	
			
		
#Bilder{
		width: 100%;
		text-align:center;
		margin-top: 40px;}
		
#Bilder img{
		width:100%;
		height:100% auto;
		max-width:1200px;}
		
		
		
h3 {
		font-size:15px;
		text-decoration:none;
		font-weight:100;
		line-height: 3em;
		color:#FFF;
		font-family:Tahoma, Geneva, sans-serif;
		letter-spacing:0.025em;
		text-align:left;}
	
	
h4 {
		font-size:15px;
		text-decoration:none;
		font-weight:100;
		line-height: 1.5em;
		color:#CCC;
		font-family:Tahoma, Geneva, sans-serif;
		letter-spacing:0.025em;
		text-align:left;}

		

footer {
		width:100%;
		height:auto;
		text-align:center;
		margin-top:80px;
		padding-bottom: 30px;
		background-color:#333;}
	
	
#info{	
		width:385px;
		height:145px;
		margin:11.25px;
		margin-top:20px;
		display:inline-block;
		vertical-align:top;}		
	
		
#kontakt{
		width:385px;
		height:100px;
		margin:11.25px;
		margin-top:10px;
		display:inline-block;
		vertical-align:top;}		
		
		
#platzhalter{
		width:385px;
		height:1px;
		margin:11.25px;
		margin-top:10px;
		display:inline-block;
		vertical-align:top;}		


#nav a{
		text-decoration:none;
		color:#CCC;
		font-size:12px;
		font-weight:100;
		font-family:Tahoma, Geneva, sans-serif;
		letter-spacing:0.025em;
		font-size:14px;}
		
#nav a:hover{
		color:#FFF;}		
						
						
#impressum{
		height:auto;
		padding-right:30px;
		text-align:right;}	
		
				
	
		
		
		
	